<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </p>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :rule_number %>
    <%= form.select :rule_number, options_for_select([
                                                ['После прохождения всех тестов категории', 1],
                                                ['После прохождения теста с первой попытки', 2],
                                                ['После прохождения теста определенного уровня', 3]
                                              ])  %>
  </p>

  <p>
    <%= form.label :rule_body %>
    <%= form.text_field :rule_body %>
  </p>

  <p><%= form.submit %></p>
<% end %>