<h1><%= t('.all_badges') %></h2>
<%= link_to t('.new_badge'), new_admin_badge_path, class: 'btn btn-primary' %>
<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.rule') %></th>
      <th colspan="3"><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @badges %>
  </tbody>
</table>