<nav class="navbar navbar-dark bg-primary">
  <%= link_to t('.header'), admin_tests_path, class: 'navbar-brand' %>
  <%= link_to t('.all_tests'), root_path, class: 'navbar-brand' %>
  <%= link_to 'Gists', admin_gists_path, class: 'navbar-brand' %>
  <%= link_to 'Badges', admin_badges_path, class: 'navbar-brand' %>
  <span class="navbar-text">
     <p>Welcome,
        <b><%= current_user.email %></b>
        <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
      </p>
  </span>
</nav>
