<p><%= t('.greeting', user: @resource.email) %></p>

<p><%= t('.instruction1') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.instruction2') %></p>
<p><%= t('.instruction3') %></p>
