<h3 class='mt-5 mb-3 text-center'><%= t('.header') %></h3>
<%= render 'shared/errors', resource: @test %>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th colspan="3" class="text-center"><%= t('.action') %></th>
  </tr>

  <%= render @tests %>
</table>
<br>
<h4 class="text-right"><%= link_to t('new_test'), new_admin_test_path %></h4>
