<h3 class='mt-5 mb-3 text-center'><%= t('.header') %></h3>
<table class="table">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.action') %></th>
  </tr>

  <%= render @tests %>

</table>
