<div class="nav user">
  <% if user_signed_in? %>
  <p>Welcome,
    <%= current_user.email %>
    <%= link_to 'Guru', root_path %> |
    <%= link_to t('delete'), destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p>
    <%= link_to  t('sign_up'), new_user_registration_path %> |
    <%= link_to  t('sign_in'), new_user_session_path %>
  </p>
<% end %>
</div>
